body{
    max-width:100vw;
    overflow:hidden;
}
.container{
    margin-left:35%;
    margin-right:auto;
    color:white;
}

.weather-box{
    border: solid 2px white;
    margin-top: 3vh;

}
.weather-content{
    height:4vh;
}

.title-heading{
    margin-top:3vh;
}
.btn{
    margin-top:2vh;
}
.weather-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/DSCF4717.jpeg);
    height:100vh;
    width:100vw;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    margin:0;
}
